.titulo-container{
    display: flex;
    position: absolute;
    top: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 871px;
    width: 1133px;
    height: 96px;
    margin-bottom: 150px;
}

.seccion-titulo{
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 38px;
    color: #464646;
    text-align: center;
    width: 593px;
    height: 38px;
}

.btn-prd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1350px;
    padding: 16px;
    gap: 10px;
    width: 173px;
    height: 71px;
    background: #2A7AE4;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 6px;
}

.btn-prd a{
    color: #fff;
    text-decoration: none;
}

.tienda-contenido{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 1.5rem;
    margin-left: 20px;
    margin-top: 400px;
}

.producto-box{
    position: relative;
}

.producto-box:hover{
    padding: 10px;
    border: 1px solid #000;
    transition: 0.4s;
}

.producto-img{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 0.5rem;
}

.producto-titulo{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.precio{
    font-weight: 500;
}

.bolsa-add{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.bolsa-add:hover{
    background: hsl(249,32%,17%);
}